.Movies-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
}

.Movies-Card a {
  color: white;
}

.Movies-list {
  display: flex;
  justify-content: center;
}
